<p>*ngIf est une directive qui permet de conditionner l'affichage</p>

<div>
    <button (click)="afficherCacher()">On/Off</button>
    <div *ngIf="open">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, ratione iusto soluta quam porro architecto sapiente ullam laboriosam consequatur, sequi odit illum eos et libero nulla facilis minima magnam reiciendis.
    </div>
</div>

<hr>

<p>*ngFor est une directive qui va permettre de répeter un affichage</p>

<ul>
    <li *ngFor="let p of personnes">{{ p | titlecase }}</li>
</ul>