<div>
    <!-- pour utiliser le binding 2 ways (ngModel) il absolument que le module FormsModule soit importer -->
    <input type="number" [(ngModel)]="nombre">
    <button (click)="calculerLeCarre()">Calculer</button>
</div>
<p>
    <span>Résultat : {{ resultat }}</span> 
</p>
