<div>
    <!-- Le binding c'est le lien qui existe entre la vue et une variable {{  }} -->
    <p>La valeur de ma variable est {{ maVariable }}</p>

    <!-- Lier l'evenement click à la methode augmenter -->
    <button [disabled]="maVariable >= 9" (click)="augmenter()">+</button>
    <button [disabled]="maVariable <= 0" (click)="diminuer()">-</button>
</div>