<app-header></app-header>

<!-- bientot je viendrai inclure ici le menu et le contenu dynamique -->
<main>
  <app-menu></app-menu>
  
  <!-- une balise qui va permettre au routing d'Angular de définir le composant qui sera chargé dynamiquement -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  
  <p-toast></p-toast>
</main>

<app-footer></app-footer>