// selecteur css du composant courant
:host {
    min-height: 100vh; // 100vh la hauteur de l'écran
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
}

app-menu {
    width: 300px;
}

.main-content {
    margin:10px; 
    background-color: #ddd; 
    border-radius: 3px; 
    flex: 1; 
    padding: 20px;
}
