
<div style="margin-bottom: 20px;">
    <p-card>
        <input pInputText type="text" [(ngModel)]="nouvelArticle" (keydown.enter)="ajouter()">
        <!-- <button [disabled]="nouvelArticle.trim() != ''" (click)="ajouter()">Ajouter</button> -->
        <button [disabled]="!nouvelArticle.trim()" (click)="ajouter()" pButton>Ajouter</button>
    </p-card>
</div>
<div style="margin-bottom: 20px;">
    <p-card>
        <p-table [value]="articles">
            <ng-template pTemplate="header">
                <tr>
                    <th>Quantité</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.quantite }}</td> 
                    <td>{{ item.nom | titlecase }}</td>
                    <td>
                        <button pButton icon="pi pi-trash" 
                        class="p-button-danger p-button-rounded p-button-outlined p-button-sm" (click)="retirer(item)"></button>
                        <button pButton icon="pi pi-plus" 
                        class="p-button-info p-button-rounded p-button-outlined p-button-sm" (click)="augmenter(item)"></button>
                        <button pButton icon="pi pi-minus" 
                        class="p-button-warning p-button-rounded p-button-outlined p-button-sm" (click)="diminuer(item)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>    
</div>