:host {
    border-right: 1px solid black;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    height: 50px;
    border-bottom: 1px solid black;
    
}

li.active {
    background-color: darkolivegreen;
}

li.active>a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}