<ul>
    <!-- routerLinkActive va permettre à Angular d'jouter une classe sur le li si lien interne est le lien actif -->
    <li *ngFor="let link of links" 
        routerLinkActive="active">
        <!-- ne pas utiliser href mais routerLink à la place -->
        <!-- si on entoure un attribut avec des crochets la 
            valeur donnée à l'attribut n'est plus considéré comme du texte
            mais comme du code -->
        <a [routerLink]="link.url">{{link.text}}</a>
    </li>

</ul>
